<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>关于我</title>
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hidden"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hidden"><i class="clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hidden"><i class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hidden">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search......">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top  m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-margin-top-large m-container-small">
    <div class="ui container">
        <div class="ui grid">
            <div class="eleven wide column m-margin-top-large">
                <img src="../static/images/one.PNG" alt="" class="ui rounded image">
            </div>
            <div class="five wide column m-margin-top-large">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <P class="m-text-thin">的风格森岛帆高森岛帆高水电费双方都幅度是水电费干啥的风格水电费森岛帆高师傅大哥风格</P>
                    <p class="m-text-spaced m-text-thin">阿斯蒂芬大师傅阿道夫安抚按时</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">编程</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">写作</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">思考</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">运动</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">java</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">js</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">ssm</div>
                    <div class="ui teal basic left pointing label m-margin-tb-tiny">springboot</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="2605245956"><i class="qq icon"></i></a>
                </div>
                <div class="ui wechat-qr flowing popup transitioin hidden m-padded-mini">
                    <img src="../static/images/one.PNG" alt="" class="ui rounded image" style="width: 100px">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--尾部-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui  inverted divided stackable grid">
            <div class="three wide column">
                <img src="../static/images/one.PNG" class="ui rounded image" style="width: 110px;">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">最新的博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:2605245956@qq.com</a>
                    <a href="#" class="item">QQ:2605245956</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-spaced m-text-lined m-text-thin m-opacity-mini">
                    这是我的个人博客、会分享关于编程、写作、思考的任务。一起加油！
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">
            Copyright@2016-2020hkc Designed by hkc
        </p>
    </div>
</footer>


<script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    <!--隐藏状态栏-->
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hidden');
    });
    $('.qq').popup();

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        on: 'click',
        position: 'bottom center'
    });
</script>
</body>
</html>